<section class="module parallax parallax-1">
  <div class="container">
    <h1>yoga4u</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>We connect quality yogis with quality private yoga instructors.</h2>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h2>All instructors are 500hr certified</h2>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>...and many have years of experience teaching and practicing.</h2>
    


    <!-- <h2>It's pretty simple...</h2> -->
    
    <!-- <ul class="list">
      <li>Sign up through facebook</li>
      <li>Find an private instructor near you</li>
      <li>Practice yoga</li>
    </ul> -->
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h2>there is no time better than now</h2>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>...to join our community, and help us help you find the right...</h2>
  </div>
</section>

<section class="module parallax parallax-4">
  <div class="container">
    <h1>yoga 4 u</h1>
  </div>
</section>
<%= link_to 'SIGN UP WITH FACEBOOK', '/auth/facebook' %>
