
<%= form_tag users_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<h2>Yoga4U Directory</h2>

<% for user in @users %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to user.first_name + " " + user.last_name, user %>
  </div>
</div>
<% end %>

<div id="googleMap" style="width:500px;height:380px;"></div>