

<h2>Yoga4U Directory</h2>
<% @users.each do |user| %>
	<%#= user.first_name %><%#= user.last_name %>
<% end %>

<% for user in @users %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to user.first_name + " " + user.last_name, user %>
  </div>
</div>
<% end %>

<div id="googleMap" style="width:500px;height:380px;"></div>