<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if @user.instructor == true %>
        <%= render 'instructor' %>

<% elsif @user.student == true %>
        <%= render 'student' %>
<% end %>